.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.eslintcache
frontend/coverage/

backend/node_modules/
backend/logs/
backend/*.log
backend/npm-debug.log*

backend/middleware/serviceAccountKey.json
backend/serviceAccountKey.json
serviceAccountKey.json

ml-models/__pycache__/
ml-models/*.py[cod]
ml-models/*$py.class
ml-models/venv/
ml-models/env/
ml-models/.venv/
ml-models/pip-log.txt
ml-models/pip-delete-this-directory.txt
ml-models/flask_session/
ml-models/.pytest_cache/
ml-models/.ipynb_checkpoints/